{% extends "base.html" %} {% block content %}
<style>
  .form-container {
    background-color: rgba(0, 84, 159, 0.8);
    border-radius: 4px;
  }
  a {
    color: white;
  }
  a:hover {
    color: wheat;
  }
</style>

<div class="row flex-fill m-0">
  <div class="form-container p-5 m-auto col-lg-4 col-sm-6 col-xs-12 text-white">
    <h3 class="display-4">Einloggen</h3>
    {% include "./forms/auth/LoginForm.html" %}
    <div class="mt-3">
      <a href="{{ url_for('auth.register') }}">Hast du noch keinen Account?</a>
    </div>
    <!-- TODO Kontakt-Seite -->
    <div class="mt-3"><a href="#">Hast du deinen Login vergessen?</a></div>
  </div>
</div>
{% endblock %}
