{% extends 'base.html' %} {% block content %}
<style>
  .container-wrapper {
    background-color: rgba(0, 84, 159, 0.5);
    border-radius: 4px;
  }

  .table-container {
    background-color: white;
    border-radius: 4px;
  }

  .input-container {
    background-color: white;
    border-radius: 4px;
  }

  .form-group input {
    width: auto;
  }

  table input {
    width: 25px;
  }

  .jumbotron {
    background-color: rgba(0, 84, 159, 0.5);
    border-radius: 4px;
  }

  .jumbotron2 {
    background-color: rgba(117, 169, 214, 0.8);
    border-radius: 4px;
  }

  .jumbotron3 {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    color: rgba(0, 84, 159, 1);
  }

  .jumbotron4 {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    color: rgba(0, 84, 159, 1);
  }
</style>

<body>
  <div class="container">
    <div class="jumbotron row">
      <div class="container text-white text-center">
        <h2 class="display-4 text-center pb-5">
          Neue Alternativtechnologie hinzufügen
        </h2>
      </div>
      <div class="container text-white">
        <div class="jumbotron3 text-blue">
          <h3 class="p-3 p-sm-5">
            Neue Alternativtechnologie hinzufügen
          </h3>



          <form action="/main/create_alttechnology" method="POST" align="center">
            <input type="submit" class="btn btn-secondary p-3" value="Alternativtechnologie hinzufügen">
            <table class="table table-hover" border="3" align="center">
              <tr>
                <th>Technologie: <input class="form-control" type="text" id="ca00" name="ca00" required>
                </th>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
              </tr>
              <tr>
                <th>Max. Bearbeitungsweg in x</th>
                <th><input type="text" name="ca11" required></th>
                <th><input type="text" name="ca12" required></th>
                <th><input type="text" name="ca13" required></th>
                <th><input type="text" name="ca14" required></th>
              </tr>
              <tr>
                <th>Max. Bearbeitungsweg in y</th>
                <th><input type="text" name="ca21" required></th>
                <th><input type="text" name="ca22" required></th>
                <th><input type="text" name="ca23" required></th>
                <th><input type="text" name="ca24" required></th>
              </tr>
              <tr>
                <th>Max. Bearbeitungsweg in z</th>
                <th><input type="text" name="ca31" required></th>
                <th><input type="text" name="ca32" required></th>
                <th><input type="text" name="ca33" required></th>
                <th><input type="text" name="ca34" required></th>
              </tr>
              <tr>
                <th>Formtoleranz</th>
                <th><input type="text" name="ca41" required></th>
                <th><input type="text" name="ca42" required></th>
                <th><input type="text" name="ca43" required></th>
                <th><input type="text" name="ca44" required></th>
              </tr>
              <tr>
                <th>Rauheit</th>
                <th><input type="text" name="ca51" required></th>
                <th><input type="text" name="ca52" required></th>
                <th><input type="text" name="ca53" required></th>
                <th><input type="text" name="ca54" required></th>
              </tr>
            </table>
            <table class="table table-hover" border="3" align="center">
              <tr>
                <th></th>
                <th>Zeit je Einheit im Prozess</th>
              </tr>
              <tr>
                <th>hauptzeit_tn</th>
                <th><input type="text" name="ca61" required></th>
              </tr>
              <tr>
                <th>ruestzeit_tr</th>
                <th><input type="text" name="ca62" required></th>
              </tr>
              <tr>
                <th>werkzeugwechselzeit_twz</th>
                <th><input type="text" name="ca63" required></th>
              </tr>
              <tr>
                <th>werkstückwechselzeit_twst</th>
                <th><input type="text" name="ca64" required></th>
              </tr>
              <tr>
                <th>losgroesse_nl</th>
                <th><input type="text" name="ca65" required></th>
              </tr>
              <tr>
                <th>standmenge_nwz</th>
                <th><input type="text" name="ca66" required></th>
              </tr>
              <tr>
                <th>fertigungsmittelnr_xfm</th>
                <th><input type="text" name="ca67" required></th>
              </tr>
            </table>
            <table class="table table-hover" border="3" align="center">
              <tr>
                <th></th>
                <th>Maschinenspezifische Daten zur Bestimmung der Fertigungskosten</th>
              </tr>
              <tr>
                <th>anschafftungwert_AW</th>
                <th><input type="text" name="ca71" required></th>
              </tr>
              <tr>
                <th>verkaufserloes_VE</th>
                <th><input type="text" name="ca72" required></th>
              </tr>
              <tr>
                <th>abwicklungsdauer_ta</th>
                <th><input type="text" name="ca73" required></th>
              </tr>
              <tr>
                <th>raumkosten_kr</th>
                <th><input type="text" name="ca74" required></th>
              </tr>
              <tr>
                <th>instandhaltungskosten_ki</th>
                <th><input type="text" name="ca75" required></th>
              </tr>
              <tr>
                <th>energiekosten_ke</th>
                <th><input type="text" name="ca76" required></th>
              </tr>
              <tr>
                <th>zinssatz_z</th>
                <th><input type="text" name="ca77" required></th>
              </tr>
              <tr>
                <th>maschinenlaufzeit_Tn</th>
                <th><input type="text" name="ca78" required></th>
              </tr>
              <tr>
                <th> lohnkostenanteilig_Klh</th>
                <th><input type="text" name="ca79" required></th>
              </tr>
              <tr>
                <th>werkzeugkosten_Kwt</th>
                <th><input type="text" name="ca791" required></th>
              </tr>
              <tr>
                <th>restfertigungsgemeinkosten_Kx</th>
                <th><input type="text" name="ca792" required></th>
              </tr>
            </table>

            Alternative für die Technologie:
            <select name="altft">
              {% for technology in technology %}
              <option value="{{technology.id}}">{{technology.name}}</option>
              {% endfor %}
            </select>


            <table class="table table-hover" border="3" align="center">
              <tr>
                <th>Kontur (Feature 1)</th>
                <th>Input</th>
                <th>Output</th>

              </tr>
              <tr>
                <th>Länge</th>
                <td><input type="text" name="input1">[mm]</td>
                <td><input type="text" name="check1">[mm]</td>
              </tr>
              <tr>
                <th>Breite</th>
                <td><input type="text" name="input2">[mm]</td>
                <td><input type="text" name="check2">[mm]</td>
              </tr>
              <tr>
                <th>Höhe</th>
                <td><input type="text" name="input3">[mm]</td>
                <td><input type="text" name="check3">[mm]</td>
              </tr>
              <tr>
                <th>Rauheit</th>
                <td><input type="text" name="input4">[µm]</td>
                <td><input type="text" name="check4">[µm]</td>
              </tr>
              <tr>
                <th>Bohrung (Feature 2)</th>
                <th>Input</th>
                <th>Output</th>
              </tr>
              <tr>
                <th>Durchmesser</th>

                <td><input type="text" name="input5">[mm]</td>
                <td><input type="text" name="check5">[mm]</td>
              </tr>
            </table>

          </form>

        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}