{% extends 'base.html' %} {% block content %}
<style>
  .container-wrapper {
    background-color: rgba(0, 84, 159, 0.5);
    border-radius: 4px;
  }

  .jumbotron {
    background-color: rgba(0, 84, 159, 0.5);
    border-radius: 4px;
  }

  .table-container {
    background-color: white;
    border-radius: 4px;
  }

  .input-container {
    background-color: white;
    border-radius: 4px;
  }

  .form-group input {
    width: auto;
  }

  table input {
    width: 25px;
  }
</style>
<div class="container">
  <div class="jumbotron row">
    <div class="container text-white text-center">
      <h2 class="display-4 text-center pb-5">Updaten: {{technologie.name}}
      </h2>
    </div>
    <form method="POST">
      <div class="row">
        <div class="col-sm-3 col-12 p-4">
          <div class="input-container py-3 px-2">
            <div class="form-group">Name:
              <input class='form-control' type="text" name="cb00" value="{{technologie.name}}" required></th>
            </div>
            <div class="form-group">Position:
              <input class='form-control' type="text" name="position1" value="{{technologie.position}}">
            </div>
            <button class="btn btn-primary mx-auto w-100 mt-2" type="submit">
              Änderung Speichern
            </button>
            <button class="btn btn-secondary mx-auto w-100 mt-2" type="submit">
              Abbrechen
            </button>
            <hr />
            <a class="btn btn-danger mx-auto w-100 mt-4"
              href="{{url_for('main.delete_technology', id=technologie.id)}}">
              Löschen
            </a>
          </div>
        </div>
        <div class="col-9 p-4">
          <div class="table-container">
            <div class="p-3">
              <div class="table-responsive-lg">
                <table class="table">
                  <caption>Fertigungstoleranzen {{ technologie.name }}</caption>
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">a</th>
                      <th scope="col">b</th>
                      <th scope="col">c</th>
                      <th scope="col">d</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Bearbeitungsweg in x [mm]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb11"
                          value="{{technologie.max_machining_path_x_a}}" required>
                      </th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb12"
                          value="{{technologie.max_machining_path_x_b}}" required></th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb13"
                          value="{{technologie.max_machining_path_x_c}}" required></th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb14"
                          value="{{technologie.max_machining_path_x_d}}" required></th>
                    </tr>
                    <tr>
                      <th scope="row">Bearbeitungsweg in y [mm]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb21"
                          value="{{technologie.max_machining_path_y_a}}" required></th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb22"
                          value="{{technologie.max_machining_path_y_b}}" required></th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb23"
                          value="{{technologie.max_machining_path_y_c}}" required></th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb24"
                          value="{{technologie.max_machining_path_y_d}}" required></th>
                    </tr>
                    <tr>
                      <th scope="row">Bearbeitungsweg in z [mm]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb31"
                          value="{{technologie.max_machining_path_z_a}}" required></th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb32"
                          value="{{technologie.max_machining_path_z_b}}" required></th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb33"
                          value="{{technologie.max_machining_path_z_c}}" required></th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb34"
                          value="{{technologie.max_machining_path_z_d}}" required></th>
                    </tr>
                    <tr>
                      <th scope="row">Formtoleranz in z [mm]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb41"
                          value="{{technologie.shape_tolerance_a}}" required></th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb42"
                          value="{{technologie.shape_tolerance_b}}" required></th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb43"
                          value="{{technologie.shape_tolerance_c}}" required></th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb44"
                          value="{{technologie.shape_tolerance_d}}" required></th>
                    </tr>
                    <tr>
                      <th scope="row">Rauheit [µm]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb51"
                          value="{{technologie.roughness_a}}" required>
                      </th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb52"
                          value="{{technologie.roughness_b}}" required>
                      </th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb53"
                          value="{{technologie.roughness_c}}" required>
                      </th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb54"
                          value="{{technologie.roughness_d}}" required>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="table-responsive-lg">
                <table class="table">
                  <caption>Fertigungszeiten je Einheit {{ technologie.name }}</caption>
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col"></th>
                      <th scope="col">#</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Hauptzeit tn [s]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb61"
                          value="{{ technologie.hauptzeit_tn}}" required></th>
                      <th scope="row">Rüstzeit tr [s]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb62"
                          value="{{ technologie.ruestzeit_tr}}" required></th>
                    </tr>
                    <tr>
                      <th scope="row">Werkzeugwechselzeit twz [s]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb63"
                          value="{{ technologie.werkzeugwechselzeit_twz}}" required></th>
                      <th scope="row">Werkstückwechselzeit twst [s]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb64"
                          value="{{ technologie.werkstückwechselzeit_twst}}" required></th>
                    </tr>
                    <tr>
                      <th scope="row">Losgroesse nl [-]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb65"
                          value="{{ technologie.losgroesse_nl}}" required></th>
                      <th scope="row">Standmenge nwz [-]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb66"
                          value="{{ technologie.standmenge_nwz}}" required></th>
                    </tr>
                    <tr>
                      <th scope="row">Fertigungsmittelnr xfm [-]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb67"
                          value="{{ technologie.fertigungsmittelnr_xfm}}" required></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="table-responsive-lg">
                <table class="table">
                  <caption>Maschinenspezifische Daten zur Bestimmung der Fertigungskosten {{ technologie.name }}
                  </caption>
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col"></th>
                      <th scope="col">#</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Anschafftungwert AW [€]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb71"
                          value="{{ technologie.anschafftungwert_AW}}" required></th>
                      <th scope="row">Verkaufserloes VE [€]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb72"
                          value="{{ technologie.verkaufserloes_VE}}" required></th>
                    </tr>
                    <tr>
                      <th scope="row">Abwicklungsdauer ta [s]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb73"
                          value="{{ technologie.abwicklungsdauer_ta}}" required></th>
                      <th scope="row">Raumkosten kr [€/Jahr]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb74"
                          value="{{ technologie.raumkosten_kr}}" required></th>
                    </tr>
                    <tr>
                      <th scope="row">Instandhaltungskosten ki [€/Jahr]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb75"
                          value="{{ technologie.instandhaltungskosten_ki}}" required></th>
                      <th scope="row">Energiekosten ke [€/Jahr]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb76"
                          value="{{ technologie.energiekosten_ke}}" required></th>
                    </tr>
                    <tr>
                      <th scope="row">Zinssatz z [Prozent]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb77"
                          value="{{ technologie.zinssatz_z}}" required>
                      </th>
                      <th scope="row">Maschinenlaufzeit Tn [h/Jahr]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb78"
                          value="{{ technologie.maschinenlaufzeit_Tn}}" required></th>
                    </tr>
                    <tr>
                      <th scope="row">Lohnkostenanteilig Klh [€/h]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb79"
                          value="{{ technologie.lohnkostenanteilig_Klh}}" required>
                      </th>
                      <th scope="row">Werkzeugkosten Kwt [h/Jahr]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb791"
                          value="{{ technologie.werkzeugkosten_Kwt}}" required></th>
                    </tr>
                    <tr>
                      <th scope="row">Restfertigungsgemeinkosten Kx [€]</th>
                      <th><input class='form-control' style="width: 70px" type="text" name="cb792"
                          value="{{ technologie.restfertigungsgemeinkosten_Kx}}" required>
                      </th>
                  </tbody>
                </table>
              </div>
              <div class="table-responsive-lg">
                <table class="table">
                  <caption>Input und Output {{ technologie.name }}
                  </caption>
                  <thead>
                    <tr>
                      <th scope="col">Feature 1 (Kontur)</th>
                      <th scope="col"></th>
                      <th scope="col">Input</th>
                      <th scope="col">Output</th>
                    </tr>
                  </thead>
                  <tr>
                    <td></td>
                    <th scope="row">Länge [mm]</th>
                    <td><input class='form-control' style="width: 70px" type="text " name="input1"
                        value="{{ fct.laenge_ein }}">[mm]</td>
                    <td><input class='form-control' style="width: 70px" type="text" name="check1"
                        value="{{ fct.laenge }}">[mm]</td>
                  </tr>
                  <tr>
                    <td></td>
                    <th scope="row">Breite [mm]</th>
                    <td><input class='form-control' style="width: 70px" type="text" name="input2"
                        value="{{ fct.breite_ein}}">[mm]</td>
                    <td><input class='form-control' style="width: 70px" type="text" name="check2"
                        value="{{ fct.breite }}">[mm]</td>
                  </tr>
                  <tr>
                    <td></td>
                    <th scope="row">Höhe [mm]</th>
                    <td><input class='form-control' style="width: 70px" type="text" name="input3"
                        value="{{ fct.hoehe_ein }}">[mm]</td>
                    <td><input class='form-control' style="width: 70px" type="text" name="check3"
                        value="{{ fct.hoehe }}">[mm]</td>
                  </tr>
                  <tr>
                    <td></td>
                    <th scope="row">Rauheit [µm]</th>
                    <td><input class='form-control' style="width: 70px" type="text" name="input4"
                        value="{{ fct.rauheit_ein }}">[µm]</td>
                    <td><input class='form-control' style="width: 70px" type="text" name="check4"
                        value="{{ fct.rauheit }}">[µm]</td>
                  </tr>
                  <thead>
                    <tr>
                      <th scope="col">Feature 2 (Bohrung)</th>
                      <th scope="col"></th>
                      <th scope="col">Input</th>
                      <th scope="col">Output</th>
                    </tr>
                  </thead>
                  <tr>
                    <td></td>
                    <th scope="row">Durchmesser [mm]</th>
                    <td><input class='form-control' style="width: 70px" type="text" name="input5"
                        value="{{ fct.durchmesser_ein }}">[mm]
                    </td>
                    <td><input class='form-control' style="width: 70px" type="text" name="check5"
                        value="{{ fct.durchmesser }}">[mm]</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}