<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content">
    <h1 align="center">Neue Technologie hinzufügen</h1>
<form action="/neue_technologie" method="POST" align="center">
    <table border="3" align="center">
        <tr>
            <th>Technologie: <input type="text" id="c00" name="c00" required> </th>
            <th>a</th>
            <th>b</th>
            <th>c</th>
            <th>d</th>
        </tr>
               <tr>
            <th>Max. Bearbeitungsweg in x</th>
            <th><input type="text" name="c11" required></th>
            <th><input type="text" name="c12" required></th>
            <th><input type="text" name="c13" required></th>
            <th><input type="text" name="c14" required></th>
        </tr>
        <tr>
            <th>Max. Bearbeitungsweg in y</th>
            <th><input type="text" name="c21" required></th>
            <th><input type="text" name="c22" required></th>
            <th><input type="text" name="c23" required></th>
            <th><input type="text" name="c24" required></th>
        </tr>
        <tr>
            <th>Max. Bearbeitungsweg in z</th>
            <th><input type="text" name="c31" required></th>
            <th><input type="text" name="c32" required></th>
            <th><input type="text" name="c33" required></th>
            <th><input type="text" name="c34" required></th>
        </tr>
        <tr>
            <th>Formtoleranz</th>
            <th><input type="text" name="c41" required></th>
            <th><input type="text" name="c42" required></th>
            <th><input type="text" name="c43" required></th>
            <th><input type="text" name="c44" required></th>
        </tr>
        <tr>
            <th>Rauheit</th>
            <th><input type="text" name="c51" required></th>
            <th><input type="text" name="c52" required></th>
            <th><input type="text" name="c53" required></th>
            <th><input type="text" name="c54" required></th>
        </tr>

    </table>
    Position im Fertigungssystem:<input type="text" name="position" required>
    <br>
    <input type="submit" value="Technologie hinzufügen">

</div>

</body>
</html>