<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content">
    <h1 align="center">Neue Alternativtechnologie hinzufügen</h1>
<form action="/neue_alttechnologie" method="POST" align="center">
    <table border="3" align="center">
        <tr>
            <th>Technologie: <input type="text" id="ca00" name="ca00" required> </th>
            <th>a</th>
            <th>b</th>
            <th>c</th>
            <th>d</th>
        </tr>
        <tr>
            <th>Max. Bearbeitungsweg in x</th>
            <th><input type="text" name="ca11" required></th>
            <th><input type="text" name="ca12" required></th>
            <th><input type="text" name="ca13" required></th>
            <th><input type="text" name="ca14" required></th>
        </tr>
        <tr>
            <th>Max. Bearbeitungsweg in y</th>
            <th><input type="text" name="ca21" required></th>
            <th><input type="text" name="ca22" required></th>
            <th><input type="text" name="ca23" required></th>
            <th><input type="text" name="ca24" required></th>
        </tr>
        <tr>
            <th>Max. Bearbeitungsweg in z</th>
            <th><input type="text" name="ca31" required></th>
            <th><input type="text" name="ca32" required></th>
            <th><input type="text" name="ca33" required></th>
            <th><input type="text" name="ca34" required></th>
        </tr>
        <tr>
            <th>Formtoleranz</th>
            <th><input type="text" name="ca41" required></th>
            <th><input type="text" name="ca42" required></th>
            <th><input type="text" name="ca43" required></th>
            <th><input type="text" name="ca44" required></th>
        </tr>
        <tr>
            <th>Rauheit</th>
            <th><input type="text" name="ca51" required></th>
            <th><input type="text" name="ca52" required></th>
            <th><input type="text" name="ca53" required></th>
            <th><input type="text" name="ca54" required></th>
        </tr>



    </table>
    {% if technologie|length>0 %}
    Alternative für die Technologie:
        <select name="altft">
            {% for technologie in technologie %}
                <option value="{{technologie.name}}">{{technologie.name}}</option>
            {% endfor %}
        </select>
    {% endif %}
    <input type="submit" value="Technologie hinzufügen">
</div>

</body>
</html>